{% extends 'base.html' %}

{% block style %}
    <style>
        table { table-layout: fixed; border-top-color: white !important; }
        th, td { text-align: center; }

        tr:first-child td { border:none; padding: 10px 0 }
        tr:first-child td:last-child { text-align: right }

        td:nth-child(2) { text-align: left; white-space: nowrap;
            overflow: hidden; text-overflow: ellipsis }

        .pagination a:link { color: #0dcaf0 }
    </style>
{% endblock %}

{% block main %}
    <main>
        <h2>게시판 목록</h2>
        <table class="table table-bordered w-75 container mt-5">
            <colgroup><!-- table-fixed 속성이 설정된 경우,
                           각 컬럼에 대한 스타일 지정 -->
                <col style="width: 10%">
                <col style="">
                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 10%">
            </colgroup>

            <tr><td colspan="2" class="searchbox">
                <div class="row">
                    <div class="col-auto"><select class="form-select"><option>제목</option>
                        <option>본문</option><option>작성자</option>
                        <option>제목+본문</option><option>댓글내용</option></select></div>

                    <div class="col-auto">
                        <input type="text" name="search" id="search" class="form-control"></div>

                    <div class="col-auto"><button type="button"
                                                  class="btn btn-success">검색하기</button></div>
                </div></td>

                <td colspan="3"><a href="/board/write" class="btn btn-dark text-white">글쓰기</a></td>
            </tr>
            <tr><th>번호</th><th>제목</th><th>작성자</th>
                <th>작성일</th><th>조회수</th></tr>

            {% for bd in bdlist %}
            <tr><td>{{ bd.bno }}</td>
                <td><a href="/board/view/{{ bd.bno }}">{{ bd.title }}</a></td>
                <td>{{ bd.userid }}</td>
                <td>{{ bd.regdate.strftime('%Y-%m-%d') }}</td>
                <td>{{ bd.views }}</td></tr>
            {% endfor %}

        </table>
        <ul class="pagination justify-content-center m-4">
            {# 현재페이지가 1이라면 이전버튼 비활성 #}
            {% if cpg == 1 %} <li class="page-item disabled">
            {% else %} <li class="page-item"> {% endif %}

                <a class="page-link" href="/board/list/{{ cpg - 1 }}">이전</a></li>

            {% for idx in range(1, 10 + 1) %}
            <li class="page-item">
                <a class="page-link" href="/board/list/{{ idx }}">{{ idx }}</a></li>
            {% endfor %}

            <li class="page-item">
                <a class="page-link" href="/board/list/{{ cpg + 1 }}">다음</a></li>
        </ul>
    </main>
{% endblock %}
